body {
    font-family: 'Nunito', sans-serif;
    margin: 50px auto 150px;
}

.fw-medium {
    font-weight: 500;
}

.fs-small {
    font-size: 0.75rem;
}

.bg-babyblue {
    background-color: #bbdcff;
}
